{
  "cognito": {
    "user_pool_id": "<YOUR_USER_POOL_ID>",
    "client_id": "<YOUR_CLIENT_ID>",
    "domain": "https://<YOUR_COGNITO_DOMAIN>.auth.us-east-1.amazoncognito.com",
    "region": "us-east-1"
  },
  "api": {
    "endpoint": ""
  }
}
